/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
/* CSS Variables */

:root{
    --navbar-height: 60px;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky ;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
    left: 0px;
}

/* Navigation bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'PT Serif', serif;
}

#navbar{
    position: relative;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    padding: 3px 22px ;
    display: block;
    text-decoration: none;
    border-radius: 20px;
}

#navbar ul li a:hover{
    color:black;
    background-color: #fff;
}

/* Navigation bar: Logo and Image */
#logo{
    height: 30px;
    margin: 10px 10px;

}

#logo img{
    height: 40px;
    margin: -5px 15px;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 560px;
}

#home::before{
    content: "";
    background: url('../Images/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 613px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Grandstander', cursive;
}

#home p{
    color: white;
    text-align: center;
    font-size:  1.3rem;
    font-family: 'Grandstander', cursive;
}

/* Services Section */
#services{
    display: flex;
    margin: 34px;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 25px;
    border-radius: 23px;
    background: #f2f2f2;
}

#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}

#services .box p{
    font-family: 'PT Serif', serif;
}

/* Client Section */
#client-section{
    height: 344px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 220px;
}

.client-item{
    padding: 34px;
}

#client-section::before{
    content: "";
    position: absolute;
    background:url('../Images/bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.3;
}

/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../Images/contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    margin: 22px 14px;
}

#contact-box form{
    width: 40%;
}

#contact-box form{
    font-size: 1.3rem;
    font-family: 'PT Serif', serif;
}

#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
/* Footer */
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}


/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Grandstander', cursive;

}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Grandstander', cursive;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 23px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(182, 97, 97);
}

.center{
    text-align: center;
}